body {
    margin: 0%;
    padding: 0%;
    background: #000000 url('./assets/bg-.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    z-index: 999;
}
.popup {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%);
    background: #0000007b;
    padding: 30px;
    border: solid rgba(255, 255, 255, 0.796);
    border-radius: 20px;
    box-shadow: 0 0 1000px rgb(0, 0, 0);
    transition: bottom 0.5s ease;
    z-index: 1000;
    backdrop-filter: blur(7px);
    min-width: 40%;
}

.popup.show {
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: bottom 00.5s ease;
}

.popup {
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popup img {
    width: 350px;
    border-radius: 20px;
    margin: 0;
}
.popup span{
    color: rgb(255, 0, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.298);
}


@media (max-width:768px) {
    body {
        margin: 0%;
        padding: 0%;
        background-image: url('./assets/bg-mobile.png');
        background-size: auto 100vh;
        background-position: 53.5% center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    z-index: 999;
}
.popup {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%);
    background: #0000007b;
    padding: 30px;
    border: solid rgba(255, 255, 255, 0.907);
    border-radius: 20px;
    box-shadow: 0 0 1000px rgb(0, 0, 0);
    transition: bottom 0.5s ease;
    z-index: 1000;
    backdrop-filter: blur(7px);
    min-width: 20%;
}

.popup.show {
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: bottom 00.5s ease;
}

.popup {
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popup img {
    width: 250px;
    border-radius: 20px;
    margin: 0;
}
    
}
